## Collect audio features for popular track per genre per year from Spotify API - Tavis Will Do
We use the spotipy library to connect to Spotify's API and retrieve 1000 tracks per genre per year for all tracks.

In [2]:
import pandas as pd
import numpy as np
import spotipy
from spotipy.oauth2 import SpotifyClientCredentials

Get titles of most popular songs per year per genre from the data we scraped from Billboards.com

In [6]:
all_top_songs = pd.read_csv("~/Desktop/DePaul/2021Winter/DSC-478-Programming-ML-Applications/data/spotify-dataset/TopSongsByGenreByYear_rawData.txt", header=0, sep='\t')
all_top_songs.head()

  Genre  Year  Position                  Song                 Artist
0   R&B  2002         1               Foolish                Ashanti
1   R&B  2002         2  U Don't Have To Call                  Usher
2   R&B  2002         3             halfcrazy                  Musiq
3   R&B  2002         4          Hot In Herre                  Nelly
4   R&B  2002         5              Anything  Jaheim Featuring Next

In [9]:
all_top_songs.Genre.unique()

array(['R&B', 'Country', 'CountCountry', 'ry', 'RockAlt', 'Latin', 'Pop'],
      dtype=object)

In [20]:
top_songs_per_genre = all_top_songs.groupby(['Genre'])
top_songs_per_genre.head()

,Genre,Year,Position,Song,Artist
0,R&B,2002,1,Foolish,Ashanti
1,R&B,2002,2,U Don't Have To Call,Usher
2,R&B,2002,3,halfcrazy,Musiq
3,R&B,2002,4,Hot In Herre,Nelly
4,R&B,2002,5,Anything,Jaheim Featuring Next
1816,Country,2002,1,The Good Stuff,Kenny Chesney
1817,Country,2002,2,Drive (For Daddy Gene),Alan Jackson
1818,Country,2002,3,Living And Living Well,George Strait
1819,Country,2002,4,Good Morning Beautiful,Steve Holy
1820,Country,2002,5,I Miss My Friend,Darryl Worley
2591,CountCountry,2013,39,Point At You,Justin Moore
2653,ry,2014,1,This Is How We Roll,Florida Georgia Line Featuring Luke Bryan
3353,RockAlt,2009,1,Use Somebody,Kings Of Leon
3354,RockAlt,2009,2,Second Chance,Shinedown
3355,RockAlt,2009,3,New Divide,Linkin Park
3356,RockAlt,2009,4,Sex On Fire,Kings Of Leon
3357,RockAlt,2009,5,Panic Switch,Silversun Pickups
4403,Latin,2006,1,Down,RKM & Ken-Y
4404,Latin,2006,2,Hips Don't Lie,Shakira Featuring Wyclef Jean
4405,Latin,2006,3,Rompe,Daddy Yankee
4406,Latin,2006,4,Aliado Del Tiempo,Mariano Barba
4407,Latin,2006,5,Llame Pa' Verte,Wisin & Yandel
5659,Pop,2008,1,Low,Flo Rida Featuring T-Pain
5660,Pop,2008,2,Leavin',Jesse McCartney
5661,Pop,2008,3,Bleeding Love,Leona Lewis
5662,Pop,2008,4,Apologize,Timbaland Featuring OneRepublic
5663,Pop,2008,5,Forever,Chris Brown

In [22]:
top_songs_per_genre.describe()

                Year                                                         \
               count         mean       std     min     25%     50%     75%
Genre
CountCountry     1.0  2013.000000       NaN  2013.0  2013.0  2013.0  2013.0
Country       1535.0  2012.176547  5.318362  2002.0  2008.0  2013.0  2017.0
Latin         1256.0  2013.881369  4.080009  2006.0  2011.0  2014.0  2017.0
Pop            628.0  2014.178344  3.673263  2008.0  2011.0  2014.0  2017.0
R&B           1816.0  2010.845815  5.526935  2002.0  2006.0  2011.0  2016.0
RockAlt       1050.0  2015.142857  3.198035  2009.0  2013.0  2015.0  2018.0
ry               1.0  2014.000000       NaN  2014.0  2014.0  2014.0  2014.0

                     Position                                                \
                 max    count       mean        std   min   25%   50%   75%
Genre
CountCountry  2013.0      1.0  39.000000        NaN  39.0  39.0  39.0  39.0
Country       2020.0   1535.0  43.459283  27.139833   1.0  21.0  41.0  62.0
Latin         2020.0   1256.0  44.836783  27.532401   1.0  21.0  42.0  67.0
Pop           2020.0    628.0  24.785032  14.157689   1.0  13.0  25.0  37.0
R&B           2020.0   1816.0  49.740088  28.877048   1.0  24.0  50.0  75.0
RockAlt       2020.0   1050.0  46.928571  28.657932   1.0  22.0  44.0  71.0
ry            2014.0      1.0   1.000000        NaN   1.0   1.0   1.0   1.0


                max
Genre
CountCountry   39.0
Country       100.0
Latin         100.0
Pop            50.0
R&B           100.0
RockAlt       100.0
ry              1.0

In [25]:
type(top_songs_per_genre)

pandas.core.groupby.generic.DataFrameGroupBy

In [26]:
top_songs_per_genre.get_group('ry')

,Genre,Year,Position,Song,Artist
2653,ry,2014,1,This Is How We Roll,Florida Georgia Line Featuring Luke Bryan

In [27]:
type(top_songs_per_genre.get_group('ry'))

pandas.core.frame.DataFrame

In [28]:
top_songs_per_genre = top_songs_per_genre.drop('ry')

AttributeError: 'DataFrameGroupBy' object has no attribute 'drop'

In [29]:
pop_tracks = top_songs_per_genre.get_group('Pop')
pop_tracks.head()

     Genre  Year  Position           Song                           Artist
5659   Pop  2008         1            Low        Flo Rida Featuring T-Pain
5660   Pop  2008         2        Leavin'                  Jesse McCartney
5661   Pop  2008         3  Bleeding Love                      Leona Lewis
5662   Pop  2008         4      Apologize  Timbaland Featuring OneRepublic
5663   Pop  2008         5        Forever                      Chris Brown

In [34]:
pop_years = pop_tracks.Year.unique()
pop_years

array([2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018,
       2019, 2020])

In [36]:
pop_tracks.shape

(628, 5)

In [37]:
SAF = SpotifyAudioFeatures('Pop', years=pop_years, n_tracks=100)

In [40]:
sample_track = pop_tracks.iloc[0]
sample_track

Genre                             Pop
Year                             2008
Position                            1
Song                              Low
Artist      Flo Rida Featuring T-Pain
Name: 5659, dtype: object

In [46]:
year = sample_track['Year']
song = sample_track['Song']
artist = sample_track['Artist']

In [47]:
query = f'year:{year} track:{song} artist:{artist}'

In [48]:
result = SAF.sp_search(query=query, offset=0, limit=5)
result

{'tracks': {'href': 'https://api.spotify.com/v1/search?query=year%3A2008+track%3ALow+artist%3AFlo+Rida+Featuring+T-Pain&type=track&market=US&offset=0&limit=5',
  'items': [],
  'limit': 5,
  'next': None,
  'offset': 0,
  'previous': None,
  'total': 0}}

Class that takes in as parameters a genre, date range (in years), and number of tracks per genre.

In [30]:
class SpotifyAudioFeatures:
    def __init__(self, genre, years, n_tracks):
        self.genre = genre
        self.years = years
        self.sp = spotipy.Spotify(auth_manager=SpotifyClientCredentials(client_id="207ebcd660fa4fedbbcc7a351776736b",
                                                           client_secret="6a71978c6ed34608a10b1525d97c3fdb"))
        self.n_tracks = n_tracks # number of tracks we want to get per year. Must be a multiple of 50.

    
    def _get_tracks(self, genre, year):
        """
            Get n tracks for a single genre in a single year.
            n must be a multiple of 50.
        """
        tracks = []
        query = f'year:{year} genre:{genre}'
        offset = 0
        for i in range(0, self.n_tracks, 50):
            offset = i
            # results for tracks in the genre in a year
            results = self.sp_search(query, offset, 50)
            for item in results['tracks']['items']:
                tracks.append(item)
        return tracks
 
    def _get_tracks_for_x_years(self, year_range, genre):
        # Get n tracks for a range of years per genre
        all_tracks = []
        for year in year_range:
            search_results = self._get_tracks(genre, year)
            df = pd.DataFrame(search_results)
            all_tracks.append(df)
        return all_tracks
    
    def _get_search_table_indexed_by_uri(self, table):
        search_table_by_ids = pd.DataFrame(table, copy=True)
        search_table_by_ids = search_table_by_ids.set_index('uri')
        search_table_by_ids = search_table_by_ids.drop_duplicates(subset=['id'])
        print("Search Table indexed by id head:")
        display(search_table_by_ids.head())
        return search_table_by_ids
    
    def _get_track_ids(self, table):
        # Get list of track ids
        return table.index
    
    def _get_audio_features(self, ids, table):
        track_afs = []
        counter = 0
        for i in ids:
            counter += 1
            if counter %100 == 0:
                print("Track ", counter)
            result = self.sp_audio_features(i)
            r = pd.DataFrame(result)
            # Add explicit, popularity, & name from d3 table to audio_features table
            try:
                row = pd.Series(table.loc[i], copy=True)
            except Exception:
                print("ID: ", i)
                print(Exception)
                continue
            r['name'] = row['name']
            r['explicit'] = row['explicit']
            r['popularity'] = row['popularity']
            track_afs.append(r)
        # Returns a list of DataFrames
        return track_afs
    
    def _get_audio_features_dfs(self, track_ids):
        # Spotify has a max of 500 calls for audio_features.
        # Need to loop through track id's incrementally to get audio features for all tracks.
        counter = 0
        # A list of lists of DataFrames
        track_ids_split = [track_ids[i:i + 500] for i in range(0, len(track_ids), 500)]
        print("Track IDs split length (500 ids per split): ", len(track_ids_split))

        audio_features_dfs = []
        for tid in track_ids_split:
            try:
                af_dfs = self._get_audio_features(tid, self.search_table_by_ids)
                audio_features_dfs.append(af_dfs)
                print("Done with loop ", counter)
                counter += 1
            except:
                pass
        
        # flatten audio_features_dfs (array of arrays of DataFrames) to one array of dataframes
        self.afs = [item for sublist in audio_features_dfs for item in sublist]
        audio_features_dfs = pd.concat(self.afs)
        audio_features_dfs['genre'] = self.genre

        # Returns 1 DataFrame
        return audio_features_dfs
    
    def _export_to_csv(self, table):
        filename = f'./{self.genre}_audio_features'
        table.to_csv(filename)
        print(f'\nEXPORTED {filename}.csv')
    
    def sp_search(self, query, offset, limit):
        return self.sp.search(q=query, type='track', market='US', offset=offset, limit=limit)    
    
    def sp_audio_features(self, tracks):
        return self.sp.audio_features(tracks=tracks)
    
    def main(self):
        tracks_df = self._get_tracks_for_x_years(self.years, self.genre)
        d3 = pd.concat(tracks_df)
        print("Tracks returned shape: ", d3.shape)
        
        self.search_table_by_ids = self._get_search_table_indexed_by_uri(d3)
        track_ids = self._get_track_ids(self.search_table_by_ids)
        print("Length of track ids: ", len(track_ids))
        
        # save Audio Feature DataFrames for later obervation (so we don't have to run this each time)
        self.audio_features_dfs = self._get_audio_features_dfs(track_ids)
        print("Audio Features DataFrame shape: ", self.audio_features_dfs.shape)
        
        # export resulting table to csv
        self._export_to_csv(self.audio_features_dfs)